// Forgot Password
.cc_forgot_password_panel {
    display: none;

    @include respond(small-down) {
        width: 100%;
        min-width: 100%;
    }

    .cc_heading {
        padding: 0;
    }

    .cc_title {
        font-weight: 700;
        margin-bottom: 27px;
        font-size: 31px;
        color: $flna-black;
        text-transform: none;

        @include respond(small-down) {
            margin-top: 17px;
        }
    }

    .panel-body {
        padding: 0;
    }

    .col-sm-offset-2 {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .form-group {
        margin-right: 0;
        margin-left: 0;

        label {
            line-height: inherit;
            font-size: inherit;
        }

        &.inputTxtBox {
            .col-sm-offset-2 {
                display: none;
            }
        }
    }

    .col-sm-5 {
        width: 100%;
        padding: 0;

        .with-error {
            padding-left: 10px;
        }
    }

    .with-errors {
        font-size: $body-text-size-medium-current;
        color: $flna-error-color;
        margin-left: 15px;
        margin-top: 0;
        padding-left: 30px;
        text-align: left;
        float: left;
        margin-bottom: 0;
    }

    .col-sm-offset-2 p {
        font-size: $body-text-size-medium-current;

    }

    .cancelDiv {
        .col-sm-offset-2 {
            text-align: center;
            margin-top: 10px;
            font-weight: 700;
        }
    }

    .btn-default {
        font-size: $body-text-size-medium-current;
        width: 100%;
        border: 2px solid $flna-blue;
        margin-top: 35px;

        &.disabled {
            border: 1px solid $flna-gray-disabled;
        }

        &[disabled] {
            border: 2px solid #dedede;
        }
    }

    .btn.disabled:hover {
        background-color: $flna-gray-disabled;
    }

    .col-sm-offset-2 a {
        color: $flna-blue;
        font-size: $body-text-size-medium-current;
    }

    @include respond(small-down) {
        .password-left-div .image-div.imageMobile {
            background-image: url(../images/login-logochips-default-m2.png);
            background-repeat: no-repeat;
            background-position: center calc(100% + 26px);
            background-size: contain;
            transform: scale(1.4);

            &.canada {
                background-image: url(../images/login-logochips-canada-m2.png);
            }
        }
    }
}

#login_main_content {
    .messagingSection-Info .alert-info {
        color: $flna-blue;
        background-color: $flna-white;
        border-color: $flna-white;
        font-weight: 700;
        padding: 0;
        margin-top: 0;
        margin-bottom: -20px;
        line-height: 25px;
        font-size: 14px;

        @include respond(ipad-down) {
            margin-top: 0;
        }

        &:before {
            background-image: url(../icons/alert_filled_blue.svg);
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            background-repeat: no-repeat;
            position: absolute;
            margin-top: 5px;
        }

        .msgInfo {
            padding-left: 30px;
            font-size: 14px;
        }
    }

    &.cc_forgot_password_panel {
        margin-bottom: 0;

        .alert-danger.list-unstyled {
            font-size: 14px;
            color: $flna-red;
            background-color: #fff;
            border: 0;
            padding-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
            position: relative;

            &:before {
                @include fieldErrorIcon();
                top: 22px;
            }

            div {
                padding-left: 30px;
                font-weight: 700;
            }
        }
    }

    .contactUsLink {
        color: $flna-blue;
        font-weight: 700;
        margin-left: 32px;
        margin-top: 20px;
        font-size: 14px;

        p {
            margin: 0;
        }
    }
}

@include respond(medium) {
    .cc_forgot_password_panel {
        min-width: 325px;
        width: 88%;

        .col-sm-10 {
            padding: 0 30px;
        }

        .col-sm-5 {
            padding: 0;
        }
    }
}