.productMix {
	.container {
		padding-left: 0;
		padding-right: 0;
	}


	.recommendationTitleContainer {
		padding-bottom: 29px;

		@include respond(small-down) {
			border-bottom: none;
			padding-bottom: 0;
		}

		h1 {
			@include respond(small-down) {
				font-size: 28px;
				margin-bottom: 25px;
				margin-top: 10px;
				font-weight: 700;
			}
		}

		.recommendationDesc {
			max-width: 955px;
			line-height: 29px;
		}
	}

	.bundleContainer {
		padding-top: 23px;
		border-top: 1px solid $flna-gray-border;

		h2 {
			margin-top: 23px;
		}

		@include respond(small-down) {
			padding-top: 0;
			display: flex;
			flex-direction: column-reverse;
		}

		.bundleContainerText {
			.recommendationBundleDesc {
				margin: 10px 0 40px;
				width: 65%;

				@include respond(small-down) {
					width: auto;
				}


				.bundleInputQuestion.instruction2,
				.btn-build-pm {
					font-weight: 700;
				}

				// #uniqueProductAmountpm {
				// 	// display: none;
				// }
			}

			.recommendationBundleDesc1 {
				padding-top: 22px;
				padding-bottom: 24px;

				@include respond(small-down) {
					padding-top: 0;
				}
			}

			.recommendationBundleDesc2 {
				padding-top: 22px;
				padding-bottom: 7px;
				line-height: 35px;

				@include respond(small-down) {
					padding-top: 0;
				}
			}

			.recommendationBundleExample {
				.exampleRack {
					text-align: center;
					padding-bottom: 15px;
					width: 238px;
					margin: auto;

					&.hideImage {
						opacity: 0;
						position: fixed;
						top: 0;
						z-index: -1;
					}
				}
			}

			.cc_form_group {
				padding-top: 15px;
				padding-bottom: 15px;

				button {
					width: 100%;
					font-size: 15px;
				}

				.btn-primary {
					@include respond(ipad-down) {
						font-size: 14px;
					}

					@include respond(ipad-landscape) {
						font-size: 12px;
					}
				}
			}

			.recommendationBundleBackLink {
				text-align: center;
				font-weight: 700;
			}
		}

		.exampletitle {
			font-weight: 700;
		}

		.side-image-section1 {
			margin-top: 25px;

			>div {
				text-align: center;
			}

			.hideImage {
				opacity: 0;
				filter: alpha(opacity=0);
				position: fixed;
				top: 0;
			}

			.side-image1 {
				img {
					width: 450px;
					max-width: none;
					min-width: auto;
					margin: 30px 0 91px 0;

					@include respond(ipad-down) {
						width: 100%;
					}

				}
			}

			.side-image2 {
				.slick-dots {
					position: relative;
				}
			}

			.side-image2,
			.exampleRack,
			.slick-track {
				width: 390px;
			}

			.slick-track {
				position: relative;
				top: 0;
				left: 0;
				display: block;
				margin-left: auto;
				margin-right: auto;
				float: left;
			}

			img {
				max-width: 320px;
				min-width: 320px;
				text-align: center;
				margin: 0 auto;

				@include respond(small-down) {
					width: 100%;
					min-width: auto;
					padding-bottom: 15px;
				}
			}
		}
	}

	.numberCircle {
		border-radius: 100%;
		width: 200px;
		height: 200px;
		padding: 8px;
		background: $flna-white;
		border: 21px solid #84D5FF;
		color: $flna-blue;
		text-align: center;
		margin: 0 auto;
		box-shadow: 0px 1px 5px 3px rgba(83, 64, 64, 0.2);

		.innerCircle {
			border-radius: 100%;
			width: 159px;
			height: 159px;
			position: relative;
			padding-top: 30%;
			padding-left: 10px;
			padding-right: 10px;
			margin-top: -9px;
			margin-left: -10px;
			margin-bottom: 20px;
			background-color: white;
			box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.2);

			font-size: 34px;
		}
	}

	.bundleResult {
		border-top: 0 solid $flna-gray-border;
		padding-top: 31px;

		.row {
			margin-left: 0;
			margin-right: 0;


			.costDiv,
			.quantityDiv {
				text-align: right;
				padding-right: 0;
			}

			div {
				&:first-child {
					padding-left: 0;

				}

				&:last-child {
					padding-right: 0;
				}
			}
		}

		.costDivWrapper {
			margin-top: 10px;
		}


		.bundleContainerText {
			width: 300px;

			@include respond(small-down) {
				width: 100%;
			}

			.recommendationBundleDesc {
				width: 100%;
			}

			.cc_form_group {
				padding-top: 20px;
				padding-bottom: 0;
			}

			.costDivWrapper {
				font-weight: 700;
			}
		}

		.side-image-section1 img {
			@include respond(small-down) {
				display: none;
			}
		}

		.side-image-section1 {
			margin-top: -26px;
		}

	}

	.productMixTitle {
		float: left;
		display: block;
		width: 100%;
		padding: 20px 0;
		border-top: 1px solid $flna-gray-border;

		h2 {
			font-size: 36px;
		}
	}
}

.confirmationModalOverlay {
	display: flex !important;

	.confirmationModal-buttons {
		float: left;
		display: block;
		position: relative;
		padding: 0;
		margin: 40px 0 20px 0;

		button {
			width: 100%;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		div {
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}


.pm-banner {
	margin-top: -15px;

	.promo_banner_container {

		.hidden-sm,
		.hidden-xs {
			display: block !important;
		}
	}

	@include respond(small-down) {
		margin: -15px -15px 25px -15px;
	}

	.panel-default {
		@include respond(small-down) {
			margin-bottom: 0;
		}

		.panel-body {
			padding: 0;

			@include respond(small-down) {
				width: 100%;
				margin: 0;
				padding: 0;
			}
		}
	}

	img {
		&.img-responsive {
			width: 100%;
			height: 175px;

			@include respond(small-down) {
				height: 15vw;
				object-fit: cover;
				object-position: center;
			}
		}
	}

}