.register-container {
    padding-left: 4px;

    .site-reg-panel {
        margin-bottom: 0;

        .panel-heading,
        .panel-body {
            padding: 0;
            border: none;
        }
    }

    .site-reg-title {
        font-weight: 700;
        color: $flna-black;
        margin: 25px 0 0 0;
        padding-bottom: 15px;
    }

    .site-reg-subtitle {
        border-bottom: 1px solid #8c8c8c;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .haveAccount {
        font-weight: 700;

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    .site-reg-form {
        min-height: 108px;
        margin-bottom: 0;
        margin-right: 30px;

        &.site-reg-username {
            margin-top: 25px;
        }

        .site-reg-label {
            padding-left: 0;
        }

        .site-reg-sal {
            width: 75px;
        }

        .site-reg-selector {
            padding-left: 0px;
            padding-right: 0px;
        }

        .error {
            color: $flna-red;
            font-style: initial;
            font-size: 14px;
            font-weight: 700;
            position: relative;
            padding-left: 25px;
            float: left;
    
            &:before {
                @include fieldErrorIcon();
                left: 0;
                top: 6px;
            }
        }

        .site-reg-taxexempt {
            margin-bottom: 0;
    
            .site-reg-label {
                font-size: 16px;
                margin-top: 25px;
                margin-left: 17px;
    
                &:before {
                    top: 2px;
                    left: -25px;
                }
    
                &:after {
                    left: -20px;
                    top: 9px;
                }
            }

            .contactStyle {
                float: left;
                display: none;
                min-width: 22rem;
                margin-left: 16px;
            }
        }

        .site-reg-termsandprivacy {
            font-size: 12px;
            margin-left: 7px;
            margin-top: 7px;
            margin-bottom: 35px;
        }

        .site-reg-submit {
            min-width: 404px;
            margin-top: 30px;
    
            @include respond(x-small) {
                min-width: 100%;
            }
        }
    }

    .actionButtons {
        left: 8px;

        input { display: none }

        label {
            font-weight: 400;

            &:before {
                top: 6px;
                left: -25px;
            }

            &:after {
                left: -19px;
                top: 12px;
                display: none;
            }

            &.useShippingchkbox,
            &.taxExemptFlagChk {
                &.off::after {
                    display: none;
                }

                &.on::after {
                    display: inline-block;
                    color: $flna-blue;
                }
            }

        }

        .useShippingchkbox {
            margin-left: 17px;
            font-size: inherit;
            line-height: inherit;
        }
    }

    @media (min-width: 992px) {
        .col-md-10 {
            width: 85.9%;
        }
    }
}