//Product Add on - Recommendations

.product-cart {

	.prodAddOn {

		@include respond(small-down) {
			position: relative;
			z-index: 2;
		}

		.cc-heading {
			padding-top: 0;
			padding-bottom: 0;

			.cc-title {
				margin-top: 5px;
				font-weight: 700;

				@include respond(small-down) {
					line-height: 40px;
				}
			}

			p {
				margin-bottom: 0;
				margin-top: 22px;
			}
		}

		.panel .panel-body {
			padding: 0;

			.cart-addon-item {
				margin-bottom: 15px;

				&:nth-child(1) {
					padding-left: 0;

				}
			}
		}

		.slick-track {
			margin: 0;

			.slick-slide {
				@include respond(small-down) {
					margin-bottom: 125px;

					.dropdown-menu {
						max-height: 158px;
						overflow: scroll;
					}
				}

				@include respond(x-small) {
					margin-bottom: 40px;
				}
			}
		}

		.slick-dots {
			@include respond (small-down) {
				height: 0;
				top: 76%;
			}

			@include respond(x-small) {
				top: 88%;
			}
		}
	}
}

/* -- bodyend_cart.page --- */
.product-secondary {
	position: relative;
	margin-top: 10px;

	span {
		&.pepsicoFoods {
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			background: $flna-blue;
			text-align: center;
			line-height: 20px;
			color: $flna-white;
			cursor: pointer;
		}

		&:hover+.secondaryMsgBox {
			opacity: 1;
		}

	}

	.secondaryMsgBox {
		position: absolute;
		z-index: 1;
		background: rgba(255, 255, 255, .9);
		width: 38%;
		padding: 0 15px;
		border-radius: .6rem;
		left: -40px;
		border: 1px solid $flna-dark-blue;
		top: 40px;
		transition: all .2s;
		opacity: 0;

		h3 {
			font-size: 18px;
		}

		&:before,
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			left: 34px;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid $flna-blue;
		}

		&:before {
			top: -15px;
		}

		&:after {
			top: -13px;
		}
	}
}

/*ipad*/
@include respond(768, 1024) {
	.product-cart {
		.prodAddOn {
			.cc_spotlight_products {
				.cart-addon-item {
					width: 47%;
				}
			}
		}
	}

	.cart_items_container {
		.prodAddOn {
			.container {
				width: 99%;
			}
		}
	}
}

@include respond(x-small) {
	.product-cart {
		.prodAddOn {
			.cc_spotlight_products {
				.cart-addon-item {
					float: left;
					margin-right: 0;

				}
			}
		}
	}
}

@include respond(small-down) {
	.navbar {
		.login-nav-item {
			.dropdown-menu {
				background: transparent;
				box-shadow: none;
				border: 0;
			}
		}
	}
}